/* General styles */
#override h4 {
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
}


#override b {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}


#override .link-color:link {
  color: #1e90ff;
}

#override .link-color:visited {
  color: #5d77fb;
}

#override .link-color:hover,
#override .link-color:active,
#override .link-color:focus
 {

  color: #1eb6ff;
  text-decoration: none;

}


#override hr {
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #777 inset;
}


#override .btn {
  margin-right: 10px;
  margin-bottom: 20px;
  color: #1e90ff;
  border-color: #1e90ff;
}


#override .glyphicon {
  padding-right: 5px;
  color: #777;
}


/* Skills, Education, Project, Experience sections */
#override .education-entry {
  margin-bottom: 20px;
}


#override .project-entry,
#override .work-entry {
  margin-bottom: 30px;
}


#override .description {
  line-height: 1.5em;
  padding-top: 3px;
}


#override .experience-description {
  line-height: 1.5em;
  padding-top: 3px;
  padding-bottom: 30px;
}


#override .first-name {
  margin-top: 30px;
  margin-bottom: 0;
}


#role {
  margin-top: 0px;
  margin-bottom: 20px;
}


#override .contact-item {
  padding-right: 50px;
}


#override .entry-date {
margin-bottom: 10px;
}


/* The link to .pdf resume and the footer */
#override .resume {
  padding-top: 20px;
  padding-bottom: 20px;
}


#override .footer {
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

/* Displaying the Google Map */
#mapDiv {
  height: 400px;
  width: 100%;
  padding: 0 0 5% 0;
}


#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


/* New margins added for displaying on smaller screens */
@media (max-width: 768px) {
  #override .header {
    margin-left: 15px;
    margin-right: 15px;
  }
}
